.Background{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 9rem;
    align-items: center;
    margin-bottom: 3rem;
}
.Background-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
}
.Background-top > h1{
    font-size: 2rem;
    width: 50%;
    align-self: center;
    color: #000000;
    margin-bottom: 0.5rem;
}
.Background-top > p{
    font-size: 1.1rem;
    width: 50%;
    align-self: center;
    color: #000000;
    margin-top: 0.5rem;
}
.Background-top > a{
    font-size: 1.1rem;
    width: 50%;
    align-self: center;
    color: #000000;
    margin-top: 0.5rem;
}
.Background-bottom{
    display: flex;
    justify-content: center;
    width: 60%;
    
}
.Background-bottom-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #ffc6d1;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    border-radius: 1rem;
}
.Background-card-img{
    width: 90%;
    align-self: center;
    border-radius: 1rem;
}
.Background-card-header{
    margin-left: 5%;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    color: #00174a;
}
.Background-card-text{
    margin-left: 5%;
    margin-top: 0.5rem;
    color: #00174a;
}